html,
body {
  padding: 0;
  margin: 0;
}

.wrap-infowindow {
  padding: 5px !important;
  margin: 0;
  min-width: 280px;
}

.wrap-infowindow strong {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.wrap-infowindow ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrap-infowindow ul>li {
  font-size: 14px;
  letter-spacing: -0.05em;
}

.wrap-infowindow ul>li::before {
  content: '- ';
}

.wrap-infowindow ul>li strong {
  display: block;
  margin-bottom: 5px;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap a:hover {
  text-decoration: underline
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5F5F5F;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

#placesList>li {
  list-style: none;
  padding: 5px;
  counter-increment: number;
  position: relative;
  padding-left: 20px;
}

#placesList>li strong {
  display: block;
  margin-bottom: 2px;
}

#placesList>li::before {
  content: counter(number) ". ";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  text-align: right;
}

#placesList>li address {
  font-style: normal;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay_info {
  border-radius: 6px;
  margin-bottom: 12px;
  float: left;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}

.overlay_info:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.overlay_info .title {
  display: block;
  background: rgb(0 181 239);
  text-decoration: none;
  color: #fff;
  padding: 12px 36px 12px 14px;
  border-radius: 6px 6px 0 0
}

.overlay_info .desc {
  padding: 14px;
  position: relative;
  width: 190px;
}

.overlay_info img {
  vertical-align: top;
}

.overlay_info .address {
  font-size: 12px;
  color: #333;
  white-space: normal
}

.overlay_info:after {
  content: '';
  position: absolute;
  margin-left: -11px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png) no-repeat 0 bottom;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid rgb(0 181 239);
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 425px) {
  #menu_wrap {
    position: fixed;
    top: inherit;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    border-radius: 0;
    background-color: rgba(255,255,255, .85);
    padding: 0;
  }

  #menu_wrap .option {
    text-align: left;
    padding: 10px;    
  }

  #menu_wrap .option * {
    font-size: 16px;
  }
  
  #placesList {
    max-height: 220px;
    overflow: auto;
  }
}